#root {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#tableContainer {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}